---
---

@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "modules/all";

body {
  padding-top: em(50px);
  padding-bottom: em(20px);
}

#cccha_container {
  .row {
    text-align: center;
  }

  .logo.img-responsive {
    margin: 0 auto;
  }
}
