---
---

@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "modules/all";

body {
  font-size: 15px;
  padding-top: em(120px);
  padding-bottom: em(20px);
  color: $gray-base;
}

#cccha_container {
  .row {
    text-align: center;
  }

  .logo.img-responsive {
    margin: 0 auto;
  }
}

#sponsors {
  text-align: center;
  padding: em(20px) 0;
  a {
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    margin: 0 0.5em 0.5em;
  }
}

.section {
  padding-top: em(50px);
  margin-top: em(-50px);
}


/* Tweak this. Font size should be bigger on smaller screens. */
@media (max-width: $screen-xs) {
    body{font-size: 18px;}
}

@media (max-width: $screen-sm) {
    body{font-size: 18px;}
}
