---
---

@import "vendor/bourbon/app/assets/stylesheets/bourbon";
@import "modules/all";

body {
  padding-top: em(75px);
  padding-bottom: em(20px);
  color: $gray-base;
}

#cccha_container {
  .row {
    text-align: center;
  }

  .logo.img-responsive {
    margin: 0 auto;
  }
}

#sponsors {
  text-align: center;
  padding: em(20px) 0;
  a {
    display: inline-block;
    padding: 0.4em 1em;
    text-decoration: none;
    margin: 0 0.5em 0.5em;
  }
}
